@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?p0resm");
  src: url("../fonts/icomoon.eot?p0resm#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?p0resm") format("truetype"), url("../fonts/icomoon.woff?p0resm") format("woff"), url("../fonts/icomoon.svg?p0resm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-teleg:before {
  content: "\e908";
}

._icon-face:before {
  content: "\e909";
}

._icon-inst:before {
  content: "\e90a";
}

._icon-shop-cart:before {
  content: "\e90f";
}

._icon-armchair:before {
  content: "\e900";
}

._icon-bdrm:before {
  content: "\e901";
}

._icon-cal:before {
  content: "\e902";
}

._icon-kitchen:before {
  content: "\e903";
}

._icon-map-pin:before {
  content: "\e904";
}

._icon-sofa:before {
  content: "\e905";
}

._icon-wb:before {
  content: "\e906";
}

._icon-wb-big:before {
  content: "\e907";
}