@charset "UTF-8";

@font-face {
  font-family: "proxima_nova_bold";
  font-display: swap;
  src: url("../fonts/proxima_nova_bold.woff") format("woff"), url("../fonts/proxima_nova_bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova_regular";
  font-display: swap;
  src: url("../fonts/proxima_nova_regular.woff") format("woff"), url("../fonts/proxima_nova_regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  max-width: 1920px;
  width: 100%;
  height: auto;
}

.headerTop {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  border-bottom: #777777 solid 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  max-width: 590px;
  width: 100%;
  margin-left: 50px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.social-networks {
  max-width: 360px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts a {
  text-decoration: none;
  color: #000;
}

.contacts i {
  font-size: 23px;
}

.phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.numers {
  font-family: 'proxima_nova_bold';
  font-size: 18px;
  border: none;
}

.svg-phone-dims {
  width: 18px;
  margin-right: 5px;
}

.navigation-top {
  max-width: 572px;
  width: 100%;
  height: auto;
  margin-right: 50px;
}

.nav-bar-top {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-transform: uppercase;
}

.nav-bar-item {
  text-decoration: none;
  color: #000;
}

.nav-bar-top li {
  position: relative;
}

.nav-bar-item {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.nav-bar-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  opacity: 0;
  background-color: #44C697;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .2s linear;
}

.nav-bar-item:hover:after {
  opacity: 1;
}

.headerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.navigation-bottom {
  margin-left: 50px;
}

.navigation-bottom * {
  margin: 0;
  padding: 0;
  background-color: white;
  z-index: 999;
}

.navigation-bottom .nav-bar-bottom,
.navigation-bottom ol {
  list-style: none;
}

.navigation-bottom > .nav-bar-bottom {
  display: flex;
  justify-content: center;
}

.navigation-bottom > .nav-bar-bottom li .nav-bar-bottom-item {
  display: block;
  font-size: 18px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 15px;
}

.navigation-bottom li .nav-bar-bottom-item:hover {
  color: #44C697;
}

.navigation-bottom li ul {
  position: absolute;
  min-width: 120px;
  list-style-type: none;
  display: none;
}

.navigation-bottom li > ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border: 1px solid #c7c8ca;
}

.navigation-bottom li > ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.navigation-bottom li > ul li a:hover {
  color: #44C697;
}

.navigation-bottom li:hover > ul {
  display: block;
}

.Logo {
  max-width: 360px;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-Log-dims {
  width: 125px;
  margin-right: 15px;
}

.Logo span {
  font-size: 36px;
}

.Logo span::first-letter {
  color: #44C697;
}

.basket-and-call {
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  opacity: 0;
  background-color: #44C697;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .2s linear;
}

.buy:hover:after {
  opacity: 1;
}

.buy {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-right: 30px;
  position: relative;
}

._icon-shop-cart {
  font-size: 30px;
  margin-right: 10px;
}

.btn-call {
  max-width: 280px;
  width: 100%;
  min-height: 50px;
  height: 100%;
  background-color: #44C697;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'proxima_nova_bold';
  cursor: pointer;
}

.btn-call:hover {
  background-color: #4fe9b1;
}

/*
.basket-and-call a:hover
{
    border-bottom: 3px solid #44C697;
}
*/

.main-slider {
  max-width: 1920px;
  width: 100%;
  max-height: 785px;
  height: 100%;
  position: relative;
}

.fon-slider {
  max-width: 1920px;
  width: 100%;
  max-height: 785px;
  height: 100%;
}

.slider-item img {
  width: 100%;
  height: auto;
}

.card-slider {
  max-width: 462px;
  width: 100%;
  height: 670px;
  border-left: #44C697 solid 15px;
  background-color: white;
  position: absolute;
  left: 50px;
  top: 0;
}

.small-slider {
  max-width: 460px;
  width: 100%;
  height: 670px;
  position: relative;
}

.small-slider-item {
  text-align: center;
}

.small-slider-item h2 {
  margin-top: 100px;
  font-size: 64px;
}

.small-slider-item h3 {
  font-size: 38px;
}

.small-slider-item h4 {
  font-size: 34px;
  font-family: 'proxima_nova_regular';
  margin-top: 10px;
  margin-bottom: 30px;
}

.small-slider-item .counter {
  font-size: 24px;
  font-family: 'proxima_nova_bold';
}

.counter::first-letter {
  font-size: 36px;
}

.small-slider .slick-arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 0;
}

.small-slider .slick-arrow::after {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  bottom: 8px;
  left: 8px;
  transform: rotate(45deg);
}

.small-slider .slick-arrow:hover {
  background-color: #000;
}

/* Стрелка влево */

.small-slider .slick-arrow.slick-prev {
  position: absolute;
  bottom: 0;
  left: 195px;
  bottom: 80px;
  z-index: 10;
}

.small-slider .slick-arrow.slick-prev::after {
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}

.small-slider .slick-arrow.slick-prev:hover:after {
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}

/* Стрелка вправо */

.small-slider .slick-arrow.slick-next {
  position: absolute;
  bottom: 0;
  right: 195px;
  bottom: 80px;
  z-index: 10;
}

.small-slider .slick-arrow.slick-next::after {
  border-right: 2px solid #000;
  border-top: 2px solid #000;
}

.small-slider .slick-arrow.slick-next:hover:after {
  border-right: 2px solid white;
  border-top: 2px solid white;
}

.btn-detal {
  max-width: 210px;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  background-color: #44C697;
  border: none;
  border-radius: 3px;
  color: white;
}

.btn-detal:hover {
  background-color: #4fe9b1;
  cursor: pointer;
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: flex;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.block-names {
  position: relative;
}

.title span {
  font-size: 48px;
  margin: 0;
  z-index: 2;
  position: relative;
}

.block-names:before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 20px;
  height: 50px;
  background-color: #44C697;
  z-index: 1;
}

.slider-ourAvantages {
  cursor: pointer;
}

.title-in-slider {
  position: absolute;
  max-width: 400px;
  height: 45px;
  width: 100%;
  color: white;
  font-size: 36px;
  margin-top: 270px;
  margin-left: 30px;
  transition: all .25s;
  text-decoration: underline;
  -webkit-text-decoration-color: #44C697;
          text-decoration-color: #44C697;
}

.title-in-slider:hover {
  color: white;
}

.text-in-slider {
  position: absolute;
  max-width: 530px;
  height: 45px;
  width: 100%;
  color: white;
  font-size: 18px;
  font-family: 'proxima_nova_regular';
  margin-top: 270px;
  margin-left: 30px;
  transition: all .25s;
  opacity: 0;
}

.slider-ourAvantages-item:hover .title-in-slider {
  margin-top: 200px;
}

.slider-ourAvantages-item:hover .text-in-slider {
  opacity: 1;
}

.slider-ourAvantages {
  position: relative;
}

.slider-ourAvantages .slick-arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: white;
}

.slider-ourAvantages .slick-arrow::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 8px;
  left: 6px;
  transform: rotate(45deg);
}

.slider-ourAvantages .slick-arrow:hover {
  background-color: white;
}

/* Стрелка влево */

.slider-ourAvantages .slick-arrow.slick-prev {
  position: absolute;
  left: 30px;
  bottom: 150px;
  z-index: 10;
}

.slider-ourAvantages .slick-arrow.slick-prev::after {
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}

.slider-ourAvantages .slick-arrow.slick-prev:hover:after {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

/* Стрелка вправо */

.slider-ourAvantages .slick-arrow.slick-next {
  position: absolute;
  bottom: 0;
  right: 80px;
  bottom: 150px;
  z-index: 10;
}

.slider-ourAvantages .slick-arrow.slick-next::after {
  border-right: 2px solid white;
  border-top: 2px solid white;
}

.slider-ourAvantages .slick-arrow.slick-next:hover:after {
  border-right: 2px solid black;
  border-top: 2px solid black;
}

.header-categories {
  max-width: 1600px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/*///////////////////////////////////////////////ИКОНКИ КАТЕГОРИЙ\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.list-categories {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 60px 0px 0px;
}

.list-categories-item {
  position: relative;
}

.list-categories-item:hover {
  cursor: pointer;
}

.list-categories-item i {
  font-size: 100px;
  text-decoration: none;
  color: black;
}

.list-categories-item p {
  text-align: center;
  font-size: 24px;
  margin: 10px 0px 0px 0px;
}

.list-categories li:hover i {
  color: #44C697;
}

.list-categories-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  opacity: 0;
  background-color: #44C697;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .1s linear;
}

.list-categories-item:hover:after {
  opacity: 1;
}

/*///////////////////////////////////////////////ТОВАРЫ\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.cargo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.list-cargo-item {
  position: relative;
  margin: 15px;
}

.list-cargo {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.price {
  font-size: 24px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.price:hover .price-text {
  background-color: #44C697;
  color: white;
}

.price:hover .discount {
  color: white;
}

.price-text {
  display: flex;
  justify-content: space-between;
}

.price-text p {
  margin: 15px;
}

.discount {
  color: red;
}

.discount span {
  font-size: 18px;
  text-decoration: line-through;
  color: #BCBDBB;
}

.move {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  max-width: 150px;
  width: 100%;
  height: 35px;
  font-size: 18px;
  background-color: black;
  color: white;
}

.move p {
  margin: 0;
}

.action-red {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 0;
  max-width: 100px;
  width: 100%;
  height: 35px;
  font-size: 18px;
  background-color: red;
  color: white;
}

.in-catalog {
  max-width: 190px;
  width: 100%;
  height: 50px;
  background-color: #44C697;
  color: white;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}

.in-catalog:hover {
  cursor: pointer;
  background-color: #3ddaa0;
}

.about {
  width: 100%;
  min-height: 670px;
  height: 100%;
  background-image: url("../img/about.png");
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}

.about-us-form {
  max-width: 790px;
  width: 100%;
  max-height: 475px;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  border-right: #44C697 15px solid;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 100px;
}

.about-us-title {
  color: #44C697;
}

.question {
  width: 100%;
  min-height: 670px;
  height: 100%;
  background-image: url("../img/question.png");
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
}

.question-form {
  position: absolute;
  max-width: 513px;
  width: 100%;
  height: 460px;
  background-color: white;
  border-left: #44C697 solid 15px;
  font-size: 18px;
  top: 100px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-question-form {
  font-size: 36px;
}

.title-question h3 {
  font-size: 48px;
}

.question-text {
  max-width: 430px;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  margin-bottom: 15px;
  font-size: 18px;
}

.btn-question {
  width: 430px;
  height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #44C697;
  color: white;
  margin-bottom: 15px;
}

.btn-question:hover {
  background-color: #3ddaa0;
  cursor: pointer;
}

.question-form-text {
  max-width: 395px;
  width: 100%;
  height: 70px;
  font-family: 'proxima_nova_regular';
}

.question-form-text span {
  font-weight: bold;
}

footer.container {
  margin-top: 100px;
  display: flex;
}

.footer-full {
  width: 50%;
  min-height: 520px;
  height: auto;
  background-color: #1E2E36;
}

.footer-left {
  width: 50%;
  min-height: 520px;
  height: auto;
  background-image: url("../img/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.info {
  width: 100%;
  height: 100%;
}

/*.info .social-networks{
    width: 90%;
}*/

.info .Logo {
  padding-left: 50px;
  padding-top: 50px;
}

.svg-Log-white-dims {
  width: 125px;
  margin-right: 15px;
}

.info .Logo span {
  font-size: 36px;
  color: cornsilk;
}

.list-footer {
  max-width: 850px;
  width: 100%;
  height: auto;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 20px;
}

.list-footer-col {
  list-style-type: none;
  color: white;
  margin-left: 0;
  padding-left: 0;
}

.list-footer-item {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.list-footer-item::before {
  color: #44C697;
  content: "\2014";
  padding-right: 10px;
}

.footer-info {
  max-width: 350px;
  width: 100%;
  height: auto;
  margin: 0;
  color: white;
}

.footer-info i {
  font-size: 24px;
  margin-right: 10px;
  color: white;
}

.location {
  margin-bottom: 15px;
}

.location a {
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.phone-numbers {
  display: flex;
}

.svg-smartphone-green-dims {
  width: 28px;
}

.number {
  color: #44C697;
  margin-bottom: 30px;
}

.number p {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.footer-info .social-networks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-info .social-networks span {
  margin-bottom: 10px;
}

.icon-footer a {
  margin-right: 10px;
  text-decoration: none;
}

.footer-bottom {
  color: white;
  margin: 80px 50px 0;
  display: flex;
  justify-content: space-between;
}

.emb-glossiness {
  display: flex;
  align-items: center;
}

.svg-glossiness-dims {
  width: 30px;
  margin-right: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'proxima_nova_bold';
  font-size: 18px;
}

.container {
  max-width: 1920px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.container-main {
  max-width: 1820px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

@media only screen and (max-width: 1440px) {
  .main-slider,
  .fon-slider {
    max-height: 685px;
  }

  .card-slider {
    max-width: 350px;
    width: 100%;
    height: 500px;
  }

  .small-slider {
    max-width: 350px;
    width: 100%;
    height: 500px;
  }

  .small-slider-item h2 {
    margin-top: 30px;
    font-size: 45px;
  }

  .small-slider-item h3 {
    font-size: 28px;
  }

  .small-slider-item h4 {
    font-size: 28px;
  }

  .small-slider .slick-arrow.slick-prev {
    left: 140px;
    bottom: 50px;
  }

  .small-slider .slick-arrow.slick-next {
    right: 140px;
    bottom: 50px;
  }

  .title-in-slider {
    font-size: 28px;
    margin-top: 180px;
  }

  .text-in-slider {
    max-width: 420px;
    margin-top: 170px;
  }

  .slider-ourAvantages-item:hover .title-in-slider {
    margin-top: 120px;
  }

  .slider-ourAvantages-item img {
    max-width: 486px;
    width: 100%;
    height: 250px;
  }

  .slider-ourAvantages {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
  }

  .slider-ourAvantages .slick-arrow.slick-prev {
    left: 5px;
    bottom: 120px;
  }

  .slider-ourAvantages .slick-arrow.slick-next {
    right: 5px;
    bottom: 120px;
  }

  .list-categories-item i {
    font-size: 80px;
  }

  .list-categories {
    margin: 60px 20px 0px;
  }

  .list-cargo-item img {
    width: 100%;
    height: auto;
  }

  .price-text p {
    font-size: 22px;
  }

  .discount span {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1200px) {
  .contacts {
    max-width: 500px;
  }

  .contacts i {
    font-size: 18px;
  }

  .social-networks {
    max-width: 320px;
  }

  .svg-phone-dims {
    width: 14px;
  }

  .basket-and-call {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .svg-Log-dims {
    width: 90px;
    margin-right: 15px;
  }

  .card-slider {
    max-width: 350px;
    width: 100%;
    height: 410px;
  }

  .small-slider {
    max-width: 350px;
    width: 100%;
    height: 400px;
  }

  .small-slider-item h2 {
    margin-top: 20px;
    font-size: 36px;
  }

  .small-slider-item h3 {
    font-size: 24px;
  }

  .small-slider-item h4 {
    font-size: 24px;
  }

  .small-slider-item .counter {
    font-size: 18px;
  }

  .counter::first-letter {
    font-size: 24px;
  }

  .small-slider .slick-arrow.slick-prev {
    left: 140px;
    bottom: 30px;
  }

  .small-slider .slick-arrow.slick-next {
    right: 140px;
    bottom: 30px;
  }

  .title-in-slider {
    margin-top: 150px;
  }

  .text-in-slider {
    max-width: 320px;
    margin-top: 130px;
  }

  .slider-ourAvantages-item:hover .title-in-slider {
    margin-top: 80px;
  }

  .slider-ourAvantages-item img {
    max-width: 386px;
    width: 100%;
    height: 200px;
  }

  .slider-ourAvantages {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
  }

  .slider-ourAvantages .slick-arrow.slick-prev {
    left: 5px;
    bottom: 80px;
  }

  .slider-ourAvantages .slick-arrow.slick-next {
    right: 5px;
    bottom: 80px;
  }

  .list-categories-item i {
    font-size: 60px;
  }

  .list-categories-item p {
    text-align: center;
    font-size: 20px;
    margin: 10px 0px 0px 0px;
  }

  .price-text p {
    font-size: 17px;
  }

  .discount span {
    font-size: 15px;
  }

  .move {
    max-width: 100px;
    width: 100%;
    height: 25px;
    font-size: 12px;
  }

  .action-red {
    max-width: 100px;
    width: 100%;
    height: 25px;
    font-size: 12px;
    top: 30px;
  }

  .price-text p {
    margin: 10px;
  }

  .footer-info {
    max-width: 300px;
  }

  .list-footer {
    font-size: 14px;
  }

  .footer-bottom {
    font-size: 12px;
    margin: 130px 50px 0;
  }

  .svg-glossiness-dims {
    width: 16px;
  }
}

@media only screen and (max-width: 1024px) {
  .contacts {
    max-width: 450px;
  }

  .social-networks {
    max-width: 280px;
    font-size: 16px;
  }

  .contacts i {
    font-size: 15px;
  }

  .svg-phone-dims {
    width: 13px;
  }

  .numers {
    font-size: 14px;
  }

  .navigation-top {
    max-width: 450px;
  }

  .nav-bar-item {
    font-size: 14px;
  }

  .navigation-bottom > .nav-bar-bottom li .nav-bar-bottom-item {
    font-size: 16px;
    margin-left: 10px;
  }

  .svg-Log-dims {
    width: 80px;
    margin-right: 10px;
    margin-left: 20px;
  }

  .Logo span {
    font-size: 30px;
    margin-right: 20px;
  }

  .basket-and-call {
    flex-direction: row;
    margin-bottom: 10px;
  }

  .btn-call {
    min-width: 120px;
    font-size: 12px;
  }

  .buy {
    margin-right: 10px;
  }

  .card-slider {
    max-width: 250px;
    width: 100%;
    height: 380px;
  }

  .small-slider {
    max-width: 250px;
    width: 100%;
    height: 380px;
  }

  .small-slider-item h2 {
    font-size: 28px;
  }

  .small-slider-item h3 {
    font-size: 18px;
  }

  .small-slider-item h4 {
    font-size: 18px;
  }

  .small-slider .slick-arrow.slick-prev {
    left: 90px;
    bottom: 30px;
  }

  .small-slider .slick-arrow.slick-next {
    right: 90px;
    bottom: 30px;
  }

  .small-slider-item .counter {
    font-size: 18px;
  }

  .counter::first-letter {
    font-size: 24px;
  }

  .btn-detal {
    max-width: 150px;
  }

  .title-in-slider {
    font-size: 24px;
    margin-top: 150px;
  }

  .text-in-slider {
    font-size: 14px;
    max-width: 250px;
    margin-top: 140px;
  }

  .slider-ourAvantages-item:hover .title-in-slider {
    margin-top: 100px;
  }

  .slider-ourAvantages .slick-arrow {
    width: 23px;
    height: 23px;
  }

  .slider-ourAvantages .slick-arrow::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    transform: rotate(45deg);
  }

  .list-categories {
    margin: 0px 20px 0px;
  }

  .price-text p {
    font-size: 12px;
  }

  .cargo {
    margin-top: 20px;
  }

  .list-footer .list-footer-col {
    font-size: 10px;
  }

  .footer-info .social-networks {
    font-size: 14px;
  }

  .icon-footer i {
    font-size: 18px;
  }
}

.webp .about{ background-image: url(../img/about.webp); }

.webp .question{ background-image: url(../img/question.webp); }

.webp .footer-left{ background-image: url(../img/footer.webp); }